<html>
  <head>
    <meta charset="utf-8" />
    <title>Welcome Ironhacker</title>
    <link rel="stylesheet" href="/styles-about.css" />
  </head>
  <body>
    <div class="split left">
        <div class="title">
      <h1>About Dwight Schrute</h1>
    </div>
    <div class="p-div">
      <p>
        Dwight Kurt Schrute- the dorky and sociopathic megalomaniac from Dunder
        Mifflin Paper Company in Scranton – with his signature glasses, awkward
        personality, mustard yellow shirt and general idiosyncratic aura, is the
        greatest and most relatable anti-hero. While he is constantly being
        pranked by his colleague Jim Halpert (John Krasinksi), Dwight dreams
        big. His desperation to do well at his job and his constant need for
        approval from his boss, Michael Scott, makes him highly relatable. Our
        inner Dwights are constantly resurfacing in today’s rat race, compelling
        us to work hard and be better at our jobs. While Dwight has often been
        perceived as an ideal epitome of capitalism, hardly any of us are
        anti-establishment in today’s capitalistic world.
      </p>
    </div>
    <div class="p-div">
      <p>
        Schrute is a pop-cultural icon. We love to hate him as he annoys the
        other characters to no end. He is fixated on being the Regional Manager
        of his company, which he manages to achieve in the end. Despite his
        emotionally constipated self having a very turbulent affair with Angela
        and various other hindrances, Dwight perseveres in the end, which is
        equal parts endearing and inspiring. Wilson adds a different dimension
        of likeability to the character. On a podcast, he had opened up about
        how he gave Dwight the haircut he had as a sixteen-year-old and
        genuinely adored his character. While talking about how he played the
        character “as outrageously as possible”, keeping the character
        “realistic and grounded.” Wilson added a certain childish charm to this
        ambitious yet uptight character who abounds in hilarious and adorable
        oddities. Dwight Schrute is one character who deserves his own spin-off
        show- I’ll pay to watch it!
      </p>
    </div>
    </div>
    <div class="split right">
      <div class="centered">
        <img src="/Images/dwight1.webp" alt="Dwight" />
      </div>
    </div>
  </body>
</html>
