<html>
  <head>
    <meta charset="utf-8" />
    <title>Dwight Schrute</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <img src="/Images/Dunder-Mifflin-Symbol.png" alt="logo" width="165" />
      </div>
      <nav>
        <ul>
          <li><a href="/about">About Dwight Schrute</a></li>
          <li><a href="/quotes">Quotes of Dwight Schrute</a></li>
        </ul>
      </nav>
    </div>

    <!-- <h1>Dwight Schrute</h1> -->
    <div class="bg">
      <img src="/Images/dwight-b.jpeg" alt="background-img" />
    </div>
  </body>
</html>
