<html>
  <head>
    <meta charset="utf-8" />
    <title>Dwight Schrute Quotes</title>
    <link rel="stylesheet" href="/styles-gallery.css" />
  </head>
  <body>
    <!-- <input type="radio" name="position" checked /> -->
    <h1>Dwight Schrute Quotes</h1>
    <section>
      <div class="scroll-arrow" id="scroll-left">&#8592;</div>
      <ul id="imgList">
        <li><img src="/Images/quote1.webp" /></li>
        <li><img src="/Images/quote2.png" height="340px" /></li>
        <li><img src="/Images/quote3.jpeg" height="340px" /></li>
        <li><img src="Images/quotes4.jpeg" /></li>
        <li><img src="/Images/quote5.webp" /></li>
        <li><img src="/Images/quote6.png" height="340px" /></li>
      </ul>
      <div class="scroll-arrow" id="scroll-right">&#8594;</div>
    </section>
    <script src="/quotes.js"></script>
  </body>
</html>
