<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Dwight Schrute Work</title>
    <link rel="stylesheet" href="/styles-works.css" />
  </head>
  <body>
    <h2>Works of Dwight Schrute</h2>
    <div class="container">
        <div class="image">
          <img src="/Images/dwight-3.jpeg">
        </div>
        <div>
         
 
          
              <p>Dwight is trained in the art of surveillance, and is a former
                Lackawanna County volunteer sheriff's deputy. He has a purple belt in
                Goju-Ryu karate, and is the senpai at his dojo. Dwight is a pop
                culture and sci-fi enthusiast, who has expressed fanship of many
                sci-fi movies and popular television series</p>
              
         
            </div>
            <div>
    
              <p>Dwight Schrute inherited the 60-acre working beet farm from his
                grandfather. ("Office Olympics") (A deleted scene from the Season 3
                DVD claims, however, that Dwight won the farm in a game of blackjack.)
                Dwight runs the farm with his cousin Mose, and they sell beets to
                local stores and restaurants.</p>
              
    </div>
            <div>
              <p>Dwight is trained in the art of surveillance, and is a former
                Lackawanna County volunteer sheriff's deputy. He has a purple belt in
                Goju-Ryu karate, and is the senpai at his dojo. Dwight is a pop
                culture and sci-fi enthusiast, who has expressed fanship of many
                sci-fi movies and popular television series</p>
            </div>
        
  </body>
</html>



